<% if @url.any? && current_user %>
  <button ng-hide="analysisCtrl.showUserUrls" ng-click="analysisCtrl.showUserUrls = !analysisCtrl.showUserUrls">Show me what I've read recently</button>
  <button ng-show="analysisCtrl.showUserUrls" ng-click="analysisCtrl.showUserUrls = !analysisCtrl.showUserUrls">Hide what I've read recently</button>

<aside ng-show="analysisCtrl.showUserUrls" >

  <div id='urls'>
    <% current_user.urls.each do |url| %>
      <ul>
        <p><a href='<%= url.link if url.user == current_user%>'> <%= url.link %></a></p>
      </ul>
    <% end %>

<% else %>

  No urls yet

<% end %>

  </div>

</aside>
