<section class=suggestion ng-controller='suggestionController as suggestion'>

  <button ng-hide="suggestion.suggestionsLoaded"  ng-click="suggestion.showSuggestions()">What paper should I read?</button>
  <button ng-show="suggestion.suggestionsLoaded" ng-click="suggestion.getSuggestions()">Help me balance my bias</button>

  <div id='suggestions'
       ng-show="suggestion.suggestionsLoaded"
       ng-repeat="paper in suggestion.papers">
    We suggest that you read {{suggestion.recommendedReading[paper]}} articles from the {{paper}}
  </div>

  <div id='crunching_numbers'
       ng-show="suggestion.searchingForLink">
       Crunching the numbers...
  </div>

<aside id="suggestion-served"
       ng-show="suggestion.articleLoaded"
       ng-repeat="link in suggestion.urlLinks track by $index | limitTo:suggestion.numberToRead">

  <a ng-show="suggestion.articleLoaded" href="{{suggestion.urlLinks[$index]}}">
    <p id="thislink" >{{suggestion.articleTitles[$index]}}</p>
    <aside id="article-image">
    <img id="article-image" src={{suggestion.articleImages[$index]}} alt="article-image">
    </aside>
  </a>
</section>
